@import 'reset.css';
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  border: none;
  outline: none;
}
input:hover {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #757575;
  background: #dbdcee;
}

.modal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal .modal-wrapper {
  z-index: 1;
  position: relative;
  max-width: 474.37px;
  max-height: 597.21px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 32.74px;
  padding-bottom: 24px;
  border-radius: 23.24px;
  background: #fff;
}
.modal .modal-wrapper div {
  width: 100%;
}
.modal .modal-wrapper:before {
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 23.24px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}
.modal .modal-wrapper .modal-container {
  padding: 0 31.68px;
}

h1 {
  font-weight: 700;
  font-size: 25.0823px;
  line-height: 32px;
  color: #151515;
  letter-spacing: 0.2px;
}

.modal-title {
  padding-top: 46px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 11px;
  border-bottom: 2px solid #757575;
}
.modal-title input:first-child {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1.2px;
}

.modal-description {
  padding-top: 35px;
}
.modal-description input {
  letter-spacing: 0.5px;
}

.modal-label {
  padding-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal-label .modal-label__heading {
  width: 191px;
}
.modal-label .label-colors {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 13.5px;
}
.modal-label .label-colors .color-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.modal-label .label-colors .color-block .radio {
  z-index: -1;
  width: 28px;
  height: 28px;
}
.modal-label .label-colors .color-block:hover {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 3px solid #f5f7fb;
}
.modal-label .label-colors .gray-color {
  background-color: #878c93;
}
.modal-label .label-colors .purple-color {
  background-color: #6153cc;
}
.modal-label .label-colors .orange-color {
  background-color: #ff715b;
}
.modal-label .label-colors .black-color {
  background-color: #151515;
}
.modal-label .label-colors .yellow-color {
  background-color: #ffb627;
}
.modal-label .label-colors .active-color {
  position: relative;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.modal-label .label-colors .active-color:before {
  width: 28px;
  height: 28px;
  content: "";
  position: absolute;
  padding: 4px;
  border: 1px solid #9797aa;
  border-radius: 50%;
}

.modal-select {
  padding-top: 36px;
  position: relative;
}
.modal-select select {
  padding: 0 40px;
  width: 100%;
  height: 46.1px;
  background-image: url(../images/user.svg);
  background-position: 15px;
  background-repeat: no-repeat;
  border: 0.960366px solid rgba(86, 103, 137, 0.26);
  border-radius: 7.68293px;
  font-size: 15.3659px;
  line-height: 20px;
}
.modal-select img {
  width: 40px;
  position: absolute;
  bottom: 2px;
  right: 0;
}

.modal-date {
  padding-top: 33px;
  padding-bottom: 33px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
}
.modal-date .input-date {
  padding-left: 40px;
  width: 50%;
  border: 0.960366px solid rgba(86, 103, 137, 0.26);
  border-radius: 7.68293px;
  height: 50px;
}
.modal-date .label-date:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  width: 180px;
  position: absolute;
  background-color: #fff;
  left: 10px;
}
.modal-date .label-date:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  width: 174px;
  position: absolute;
  background-color: #fff;
  left: 235px;
}

.modal-btns {
  border-top: 1px solid #9797aa;
  width: 100%;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.modal-btns .btn {
  width: 179.54px;
  height: 55.45px;
  background: #f5f7fb;
  border-radius: 10.561px;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
}
.modal-btns .btn:nth-child(2) {
  background: #5f65f6;
  color: #ffffff;
}
.modal-btns .btn:hover {
  background-color: #ff715b;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 768px) {
  .modal .modal-wrapper {
    max-height: 760px;
  }

  .modal-label {
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal-label .modal-label__heading {
    width: 100%;
    text-align: center;
  }
  .modal-label .label-colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .modal-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-date .input-date {
    width: 100%;
  }
  .modal-date .label-date:first-child {
    width: 100%;
    top: 40px;
    left: 10px;
  }
  .modal-date .label-date:nth-child(2) {
    width: 99%;
    bottom: 43px;
    left: 10px;
  }

  .modal-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */