@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');

@mixin flex(
  $align-items: flex-start,
  $flex-direction: row,
  $justify-content: space-between
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: none;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  @include flex(center, row);
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #757575;
  background: #dbdcee;
}

.modal {
  width: 100%;
  @include flex(center, row, center);
  .modal-container {
    z-index: 1;
    position: relative;
    max-width: 474.37px;
    max-height: 597.21px;
    width: 100vw;
    height: 100vh; // DELETE
    @include flex(flex-start, column);
    padding: 32.74px 31.68px 24px;
    border-radius: 23.24px;
    background: #fff;
    div {
      width: 100%;
    }
    &:before {
      z-index: -1;
      content: '';
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      width: 100%;
      border: 2px solid #fff;
      border-radius: 23.24px;
      transform: rotate(2deg);
    }
  }
}

h1 {
  font-weight: 700;
  font-size: 25.0823px;
  line-height: 32px;
  color: #151515;
}

.modal-title {
  width: 100%;
  @include flex(center, row);
  padding-bottom: 12px;
  border-bottom: 1px solid #757575;
}

.modal-label {
  @include flex(center, row, space-between);
  .modal-label__heading {
    width: 200px;
  }
  .label-colors {
    width: auto;
    @include flex(center, row, flex-start);
    gap: 12px;
    .color-block {
      @include flex(center, row, center);
      width: 28px;
      height: 28px;
      border-radius: 50%;
      .radio {
        z-index: -1;
        width: 28px;
        height: 28px;
      }
    }
    .gray-color {
      background-color: #878c93;
    }
    .purple-color {
      background-color: #6153cc;
    }
    .orange-color {
      background-color: #ff715b;
    }
    .black-color {
      background-color: #151515;
    }
    .yellow-color {
      background-color: #ffb627;
    }
    .active-color {
      position: relative;
      background-image: url(../images/check.svg);
      background-position: center;
      background-repeat: no-repeat;
      &:before {
        width: 28px;
        height: 28px;
        content: '';
        position: absolute;
        padding: 4px;
        border: 1px solid #9797aa;
        border-radius: 50%;
      }
    }
  }
}
.modal-select {
  position: relative;
  select {
    padding: 0 40px;
    width: 100%;
    height: 46.1px;
    background-image: url(../images/user.svg);
    background-position: 15px;
    background-repeat: no-repeat;
    border: 0.960366px solid rgba(86, 103, 137, 0.26);
    border-radius: 7.68293px;
  }
  img {
    width: 40px;
    position: absolute;
    top: 3px;
    right: 0;
  }
}

.modal-date {
  position: relative;
  @include flex(center, row, space-between);
  .input-date {
    padding-left: 40px;
    width: 45%;
    border: 0.960366px solid rgba(86, 103, 137, 0.26);
    border-radius: 7.68293px;
    height: 50px;
  }
  .label-date:first-child {
    @include flex(center, row, flex-start);
    gap: 10px;
    width: 174px;
    position: absolute;
    background-color: #fff;
    left: 10px;
  }
  .label-date:nth-child(2) {
    @include flex(center, row, flex-start);
    gap: 10px;
    width: 174px;
    position: absolute;
    background-color: #fff;
    left: 235px;
  }
}

// TODO: ADAPTIVE
// @media (max-width: 768px) {
// }

// @media (max-width: 320px) {
// }
